html,
body {
  height: 100%;
}

body {
  --teal500: hsl(179, 62%, 43%);
  --green400: hsl(71, 73%, 54%);
  --teal100: hsl(204, 43%, 93%);
  --gray500: hsl(218, 22%, 67%);
  font-family: 'Karla', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  display: flex;
  align-items: center;
  background-color: hsl(204, 43%, 93%);
}

.max-width-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 16px;
}

article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 6px 9px 9px 3px hsl(204, 40%, 80%);
}

section {
  padding: 24px 28px;
}

section > * {
  margin-bottom: 12px;
}

section > :last-child {
  margin-bottom: 0px;
}

h2 {
  font-size: 22px;
}

.intro {
  color: var(--gray500);
  background-color: hsl(0, 0%, 98%);
}

.intro p:last-of-type {
  line-height: 1.7;
}

.intro h2 {
  color: var(--teal500);
}

.intro strong {
  color: var(--green400);
}

.sign-up,
.benefits {
  color: var(--teal100);
}

.sign-up {
  background-color: var(--teal500);
}

.sign-up strong {
  font-size: 2.5rem;
}

.price {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 4px;
}

button {
  display: block;
  width: 99%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  color: var(--teal100);
  background-color: var(--green400);
  font-weight: bold;
  font-size: 18px;
  box-shadow: 4px 6px 6px hsl(179, 50%, 40%);
  margin-top: 24px;
}

button:active {
  box-shadow: 4px 6px 6px hsl(179, 50%, 35%);
  cursor: pointer;
  color: hsl(0, 0%, 98%);
}

.benefits {
  background-color: hsl(179, 50%, 50%);
}

.benefits ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

@media (min-width: 700px) {
  .max-width-wrapper {
    max-width: 700px;
  }

  article {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.25fr;
  }

  section {
    padding: 24px 32px;
  }

  .intro {
    grid-column: 1/3;
  }
}
